Source: ixgbe
Section: unknown
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 9), bzip2,linux-headers-4.9.0-7-amd64 [amd64]
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/ixgbe.git
Vcs-Browser: https://github.com/scibian/ixgbe 

Package: ixgbe-amd64
Architecture: amd64
Section: kernel
Priority: optional
Depends: ${misc:Depends},ixgbe-5.3.8-amd64
Description: This is a metapackage that will depends on the latest version of Intel ixgbe network driver

Package: ixgbe-5.3.8-amd64
Architecture: amd64
Section: kernel
Priority: optional
Depends: ${misc:Depends}
Description: This is the package that will install the latest version of Intel ixgbe network driver
