Source: ixgbe-modules
Section: unknown
Priority: optional
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.6
Homepage: https://downloadcenter.intel.com
Vcs-Git: https://github.com/scibian/ixgbe.git
Vcs-Browser: https://downloadcenter.intel.com/downloads/eula/28246/Intel-Network-Adapter-Driver-for-PCIe-Intel-10-Gigabit-Ethernet-Network-Connections-Under-Linux-?httpDown=https%3A%2F%2Fdownloadmirror.intel.com%2F28246%2Feng%2Fixgbe-5.3.8.tar.gz 

Package: ixgbe-modules-amd64
Architecture: amd64
Section: kernel
Priority: optional
Depends: ${misc:Depends},ixgbe-kernel-5.3.8-amd64
Description: This is a metapackage that will depends on the latest version of Intel ixgbe network driver

Package: ixgbe-modules-5.3.8-amd64
Architecture: amd64
Section: kernel
Priority: optional
Depends: ${misc:Depends}
Description: This is the package that will install the latest version of Intel ixgbe network driver
