#!/usr/bin/make -f
export DH_VERBOSE = 1

DEB_BUILD_ARCH=$(shell dpkg-architecture -qDEB_BUILD_ARCH)
export BUILD_KERNEL=4.19.0-0.bpo.21-$(DEB_BUILD_ARCH)

%:
	dh $@ --sourcedirectory=src --sourcedir=src 

override_dh_auto_install:
